A,A:Visited,A:Active,A:Hover  {
	font-family : Verdana,Arial,Helvetica,Sanserif;
}

A:Hover  {
	color : Red;
	text-decoration : none;
}

BODY,P  {
	font-family : Verdana,Arial,Helvetica,Sanserif;
	font-style : normal;
	font-weight : normal;
	color : Black;
	background-color : White;
}

H3.p  {
	text-indent : 2cm;
}

.options  {
	text-indent : 0.5cm;
	text-decoration : none;
	color : #900808;
}

.ss  {
	font-size : xx-small;
	font-weight : bold;
}

P, .sf, UL, LI, OL  {
	font-size : x-small;
}

A.sf  {
	font-weight : bold;
}

.path  {
	font-family : Courier,Serif;
	font-style : normal;
	font-weight : bold;
}

.function  {
	font-size : x-small;
	background-color : #FFF0F0;
}

.features  {
	font-size : x-small;
	background-color : #F0F0FF;
}

.shortcut  {
	font-size : xx-small;
	font-weight : bold;
	background-color : #F0FFF0;
}

.filetype  {
	font-size : x-small;
	background-color : #F0F0FF;
}

.errors  {
	font-size : x-small;
	background-color : #FF8080;
}

.q  {
	font-size : x-small;
	font-weight : bold;
	background-color : #FFECEC;
	padding : 4px;
	width : 96%;
}

.a  {
	font-size : x-small;
	font-weight : normal;
	margin-left : 16px;
	width : 92%;
}

.list  {
	font-size : x-small;
	font-weight : normal;
	margin-left : 36px;
	width : 92%;
}

.c1a,.c2a,.c3a,.c4a,.c5a,.c6a {
	font-size : normal;
	font-weight : bold;
}

.c1b,.c2b,.c3b,.c4b,.c5b,.c6b {
	font-size : x-small;
	font-weight : normal;
}

.c1a,.c1b  {	background-color : #FFF8F8; }
.c2a,.c2b  {	background-color : #F8FFF8; }
.c3a,.c3b  {	background-color : #F6F6FF; }
.c4a,.c4b  {	background-color : #E8FFF8; }
.c5a,.c5b  {	background-color : #E8F0F8; }
.c6a,.c6b  {	background-color : #FFFFF0; }